---
import { Image } from 'astro:assets'

import { Button, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'library', text: 'Library' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'others', text: 'Others' },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Jiashun-Hao'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, feel free to contact
    me to discuss.
  </p>

  <h2 id='library'>Library</h2>
  <p>Coming soon.</p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'Korean-Agent',
        description: 'A Python-based Korean language agent.',
        links: [
          { type: 'github', href: 'https://github.com/Jiashun-Hao/Korean-Agent' }
        ]
      },
      {
        name: 'Camera-tracking-microphone',
        description: 'An automatic camera tracking program based on microphone presets, controlling camera switching to track the corresponding speaker.',
        links: [
          { type: 'github', href: 'https://github.com/Jiashun-Hao/Camera-tracking-microphone' }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <p>Coming soon.</p>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
