---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/JohnieXu'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='theme'>Library</h2>
  <ProjectSection
    projects={[
      {
        name: '75_action',
        description: 'ä¸€ä¸ªè‡ªåŠ¨æŠ“å–å…¨éƒ¨å¥‡èˆžå‘¨åˆŠæ–‡ç« é“¾æŽ¥çš„è„šæœ¬ã€‚',
        links: [
          { type: 'github', href: 'https://github.com/JohnieXu/75_action' },
          { type: 'site', href: 'https://github.com/JohnieXu/75_action' },
          {
            type: 'doc',
            href: 'https://github.com/JohnieXu/75_action/blob/master/README.md'
          }
        ]
      },
      {
        name: 'idinofe/xt-core',
        description: 'ä¸€ä¸ªå¯é çš„ã€å……åˆ†æµ‹è¯•çš„ JS å·¥å…·æ–¹æ³•åº“ã€‚',
        links: [
          { type: 'github', href: 'https://github.com/idinofe/xt-core' },
          { type: 'site', href: 'https://idinofe.github.io/xt-core/' },
          {
            type: 'doc',
            href: 'https://idinofe.github.io/xt-core/'
          }
        ]
      },
      {
        name: 'decrypt-core',
        description: 'å¯¹ crypto-js ä¸­ TDEA(Triple DES) ç®—æ³•çš„ç®€å•åŒ…è£…ï¼Œæ›´ç®€æ´æ›´æ˜“äºŽä½¿ç”¨ï¼Œæ”¯æŒçŽ¯å¢ƒæ›´ä¸°å¯Œã€‚',
        links: [
          { type: 'github', href: 'https://github.com/JohnieXu/decrypt-core' },
          { type: 'site', href: 'https://github.com/JohnieXu/decrypt-core' },
          {
            type: 'doc',
            href: 'https://github.com/JohnieXu/decrypt-core/blob/master/README.md'
          }
        ]
      }
    ]}
  />

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ“’ vant-weapp',
        description:
          'åŸºäºŽæœ‰èµžvant-weappçš„å°ç¨‹åºé¡¹ç›®ã€‚',
        links: [
          { type: 'github', href: 'https://github.com/JohnieXu/vant-weapp' },
          {
            type: 'site',
            href: 'https://github.com/JohnieXu/vant-weapp'
          }
        ]
      },
      {
        name: 'ðŸ’„ eureka',
        description: 'åŸºäºŽ Go çš„è·¨å¹³å°æ–‡ä»¶åŠ å¯†/è§£å¯†å·¥å…·ã€‚',
        links: [
          { type: 'github', href: 'https://github.com/JohnieXu/eureka' },
          { type: 'site', href: 'https://github.com/JohnieXu/eureka' },
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'exif-edit',
          description: 'ä¸€ä¸ªåŸºäºŽ vue çš„å›¾ç‰‡ exif æ•°æ®ç¼–è¾‘å™¨ç»„ä»¶ã€‚',
          links: [
            { type: 'github', href: 'https://github.com/JohnieXu/exif-edit' },
            { type: 'site', href: 'https://exif-edit.vercel.app/' }
          ]
        },
        {
          name: 'xtjk-decrypt',
          description: 'åŸºäºŽNode.jsçš„æ•°æ®åŠ è§£å¯†å·¥å…·ï¼Œå¯åº”ç”¨äºŽwebåº”ç”¨è°ƒè¯•ã€‚',
          links: [
            { type: 'github', href: 'https://github.com/JohnieXu/xtjk-decrypt' },
          ]
        },
        {
          name: 'xtjk-decrypt-chrome',
          description: 'åŸºäºŽ 3DES ç®—æ³•çš„æ•°æ®åŠ è§£å¯† Chrome æ’ä»¶ã€‚',
          links: [
            { type: 'github', href: 'https://github.com/JohnieXu/xtjk-decrypt-chrome' },
          ]
        },
        {
          name: 'excel-demo',
          description: 'çº¯å‰ç«¯å®žçŽ° Excel æ–‡ä»¶åœ¨çº¿è§£æžå’Œé¢„è§ˆåŠŸèƒ½çš„ demoã€‚',
          links: [
            { type: 'github', href: 'https://github.com/JohnieXu/excel-demo' },
            { type: 'site', href: 'https://excel-demo.vercel.app/' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'xx-blog',
        description: "JohnieXu's Blog (æ—§ç‰ˆ)",
        links: [
          { type: 'github', href: 'https://github.com/JohnieXu/xx-blog' },
          { type: 'site', href: 'https://johniexu.github.io/xx-blog/' }
        ]
      },
      {
        name: 'JohnieXu',
        description: 'JohnieXu Github',
        links: [{ type: 'github', href: 'https://github.com/JohnieXu' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>114514</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
